@import url(font.css); /* importo il file css con le istruzioni per richiamare il file del carattere tipografico */

body {
    margin: 0 0;
    background-color: #fff;
    font-family: "Inter", "Josefin slab", "Accademia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%; /* per fare in modo che tutte le immagin si adattano all'elemento che le contiene */
    display: block; /* per azzerare il margine sotto che le immagini hanno di default */
}

/*modifica soo l'immagine del hero*/
#img1{
    /*max-width: 260px;*/
    left: 80px;
    position: relative;
    transform: scale(1.2) rotateY(180deg);
}

main, footer, .card-2 {
    max-width: 1200px;
    margin: auto; /* centro l'elemento nella pagina */
    padding: 0px;
    place-content: space-between;
}


.card_1 {
    display: flex; /* allineo in orizzontale gli elementi della card */
    gap:20px;
    background: #F6BB550D;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 10px 10px rgb(0 0 0 / 10%);
}

.card_2 {
    display: flex; /* allineo in orizzontale gli elementi della card */
    gap:20px;
    background: #FEC4560D;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 10px 10px rgb(0 0 0 / 10%);
}

.card_3 {
    display: flex; /* allineo in orizzontale gli elementi della card */
    gap:20px;
    background: #4B83F20D;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 10px 10px rgb(0 0 0 / 10%);
}

.card_4 {
    display: flex; /* allineo in orizzontale gli elementi della card */
    gap:20px;
    background: #7595C70D;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 10px 10px rgb(0 0 0 / 10%);
}

header a {
    text-decoration: none;
    color: #222;
}

header a:hover {
    color: crimson;
    text-decoration: none;
}

header a.attivo {
    font-weight: bold;
}

/*header - posizione logo e navbar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 2px 10px 10px rgb(0 0 0 / 10%);
    width: -webkit-fill-available;
    background-color: #fff;
    z-index: 1;
}


header p {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

section.hero {
    background:rgb(255, 255, 255);/* colore impostato con RGB e con la trasparenza, che si può notare sopratutto quando cambia il colore di sfondo */
    text-align: center;
}

section.hero .immagine{
    padding: 180px;
    width: 400px;
}

section.hero h1 {
    margin: 0;
    padding: 40px 0px;
    color: rgba(0, 0, 0, 0.9);
}

.grid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
}

main div.card {
    background: #fff;
}

main div.card img {
    /*object-fit: cover;*/
    height: 400px;
    width: 100%;
}


main div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}

footer {
    text-align: center;
    padding: 0;
}

footer p {
    border-top:1px solid rgba(0,0,0,0.1);
    margin: 0;
    padding: 20px 0;
    font-size:  14px;
    color:#444
}

@media (max-width: 600px) { /* se la finestra ha una larghezza minore di 800px, fai lo sfondo giallo */
    body { 
        background: rgb(255, 255, 255);
    }
    
    .card-2 {
        flex-direction: column; /* nella versione mobile la card con gli elementi allineati in orizzontale diventa come la prima card, con gli elementi uno sotto l'altro */
    }

    .card-2 .testo {
        width: 100%;
    }

    .card-2 .immagine {
        width: 100%;
    }

    section.hero h1{
        font-size: 70px;
    }

    .container {
        flex-direction: column;
    }

    .card_1, .card_2, .card_3, .card_4 {
        display: inline;
        }
}

@media (max-width: 400px) { /* se la finestra ha una larghezza minore di 400px, fai lo sfondo verde. Questa istruzione sovrascrive la precedente, se la cancello lo sfondo sarà sempre giallo */
    body {
        background: rgb(255, 255, 255);
    }

    section.hero h1{
        font-size: 30px;
    }

    header {
        flex-direction: column;
        gap: 10px;
    }

    .container {
        flex-direction: column;
    }

    .card_1, .card_2, .card_3, .card_4 {
        display: inline;
        }
}




  
  /* Stile per il contenitore della sezione hero */
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px; /* Larghezza massima del contenitore */
    margin: 0 auto; /* Centrare il contenitore orizzontalmente */
    height: 100%;
    gap: 10%;
    padding: 10%;
  }

  .container.p{
    width:400px;
  }
  
  /* Stile per il testo */
  .testo {
    flex-basis: 50%; /* Larghezza del testo (50% del contenitore) */
    text-align: left;
    padding: 40px;
    max-width: 400px;
    margin: auto;
  }

  .testo-accent{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.4em;
  }
  
  /* Stile per l'immagine */
  .immagine {
    flex-basis: 50%; /* Larghezza dell'immagine (50% del contenitore) */
  }








   /*pagina illustratori*/
  /* usato anche per pagina del singolo artista */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}


section{
    display: table;
    margin: auto;
}

section.galleria {
    /* align-items: center; */
    display: flex;
    /* margin: auto; */
    /* position: relative; */
    justify-content: center;
}

.card {
    display: grid;
    width: 100%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    }

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.testo {
    flex-basis: 50%;
    padding: 40px;
    margin: auto;
}

p {
    font-family: 'Josefin sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4em;
    color: #3E3E3E;
}

h1{ 
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}


















  /*pagina illustratori*/
  /* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}


.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
